<!DOCTYPE html>
<html>
  <head>
    <title>Hackerboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% if logged_in? %>
      <p>
        <%= t("user.greeting", name: current_user.name) %>
      </p>
      <%= button_to t("menu.logout"), logout_path, method: "delete" %>
    <% else %>
      <%= link_to t("menu.signup"), signup_path %>
      <%= link_to t("menu.login"), login_path %>
    <% end %>

    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <%= yield %>
  </body>
</html>
