<!DOCTYPE html>
<html>
  <head>
    <title>Hackerboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render "shared/header" %>
    <%= render "shared/flash_messages" %>

    <div class="content">
      <section class="main">
        <%= yield %>
      </section>

      <aside class="sidebar">
      </aside>
    </div>
  </body>
</html>
