<article class="question">
  <h2>
    <%= link_to question.title, question_path(question) %>
  </h2>

  <ul class="meta">
    <li class="who">
      <%= render question.user %>
      <time datetime="<%= question.created_at.xmlschema %>">
        <%= t("question.relative_time", time: time_ago_in_words(question.created_at))%>
      </time>
    </li>

    <li class="views icon">
      <%= t("question.hits_html", count: question.hits_count) %>
    </li>

    <li class="answers icon">
      <%= t("question.replies_count_html", count: question.replies_count) %>
    </li>
  </ul>
</article>
