<h1>
  <%= t("titles.questions.latest_questions") %>
</h1>

<ul class="filters <%= question_filter %>">
  <li class="all">
    <%= link_to t("question.filters.all"), home_path %>
  </li>

  <li class="unanswered">
    <%= link_to t("question.filters.unanswered"), home_path(filter: "unanswered") %>
  </li>
</ul>

<%= render @questions, paginate: true %>
<%= paginate @questions %>

<% content_for :sidebar do %>
  <%= render "shared/search" %>
  <%= render "shared/category_list" %>
  <%= render "shared/welcome_users" %>
<% end %>
