<h1><%= t("titles.questions.new") %></h1>
<p><%= t("descriptions.questions.new") %></p>

<%= form_with model: @question, url: new_question_path, method: :post do |f| %>
  <%= render "shared/form_erros", record: @question %>
  <p>
    <%= f.label :title, t("form.labels.question.title") %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content, t("form.labels.question.content") %>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.label :category_id, t("form.labels.question.category") %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
  </p>

  <p>
    <%= f.submit %>
    <%= link_to t("actions.back"), home_path %>
  </p>
<% end %>