<% content_for :title do %>
<%= @question.title %> - 
<% end %>

<div class="question-details">
  <h1><%= @question.title %></h1>
  <p class="about">
    <%= render @question.user %>
    <time datetime="<%= @question.created_at.xmlschema %>">
      <%= t("question.relative_time", time: time_ago_in_words(@question.created_at))%>
    </time>
  </p>

  <%= markdown @question.content %>
</div>

<%= render "replies", replies: @replies, question: @question,
  reply: @reply %>

<% content_for :sidebar do %>
  <%= render "info", question: @question %>
  <%= render "shared/search" %>
<% end %>
