<% if @user.errors.any? %>
  <p><%= t("form.error_message") %></p>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user, url: signup_path, method: :post do |f| %>
  <p>
    <%= f.label :name, t("form.labels.signup.name") %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email, t("form.labels.signup.email") %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password, t("form.labels.signup.password") %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, t("form.labels.signup.password_confirmation") %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>