<p>
Olá, {{ name }}!
</p>

<p>
  Você se cadastrou no <a href="{{ home_url }}">Hackerboard</a>.
  Para acessar a sua conta, acesse a URL abaixo e informe o e-mail cadastrado.
</p>

<ul>
  <li>
    <strong>E-mail:</strong>{{ email }}
  </li>

  <li>
    <strong>URL de Login:</strong><a href="{{ login_url }}">{{ login_url }}</a>
  </li>
</ul>
